body {
    font-family: "crossorigin", sans-serif,Arial;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    background-image: url(meme.gif);
   
} 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   max-width: 100%;
   height: auto;
    
}



.jumbotron {
    font-size: 40px;
    padding: 60px;
    text-align: center;
    background-color: rgb(255, 199, 125);
    color: aliceblue;

}

.card {
    box-shadow: 0 4px 8px 0 rgb(255, 199, 116);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;

}

h3 h3 {
    color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20px;
    background-color: rgb(255, 191, 73);
    border: 2px solid orange;
    display: flex;
   
}
    

li {
    float: left;
}

li a {
    display: block;
    color: aliceblue;
    padding: 8px 16px;
    text-decoration: none;
}

li:hover {
    background-color: rgb(234, 163, 70);
    color: white;
}
 .active {
    background-color: rgb(247, 185, 104);
    color: rgb(251, 205, 149);
 }
   
   main {
    padding: 20px;

    display: flex;
    gap: 1rem;
}

footer {
    padding: 20px;
    color: whitesmoke;
    background-color: rgb(250, 188, 111);
}

@media screen and (max-width: 10000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }

    
}