.container {
    border: 4px solid blue;
    box-shadow: 2em;
}

.main {
    background-color: aquamarine;


.main-heading {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    font-size: 3em;
    background-color: azure;
}
&:hover {
    .footer {
        background-color: slateblue;
    }
}
}
